<div class="container">
    <div *ngIf="showChart" class="chartContainer">
        <div *ngIf="noDataForDateInterval" class="alert alert-warning" role="alert">
            No data for current interval
        </div>
        <canvas *ngIf="!noDataForDateInterval" id="myChart" class="chart"></canvas>
        <div class="chartNavigationButtons row mt-3">
            <div class="col">
                <span class="input-group-text" id="datePickerFrom">From:</span>
                <input class="ml-2" (change)="onChangeDateInterval()" type="date" [(ngModel)]="dateFrom"
                    name="chartDateFrom">
            </div>
            <div class="col text-right">
                <span class="input-group-text" id="datePickerTo">To:</span>
                <input class="ml-2" (change)="onChangeDateInterval()" type="date" [(ngModel)]="dateTo"
                    name="chartDateTo">
            </div>
            <div class="col-12">
                <div *ngIf="invalidDateInterval" class="alert alert-warning" role="alert">
                    No data for current interval
                </div>
            </div>
        </div>
        <hr>
        <div *ngIf="noDataForDateInterval" class="alert alert-warning" role="alert">
            No notes for current interval
        </div>
        <div *ngIf="!noDataForDateInterval" class="notesContainer">
            <div *ngFor="let n of notes">
                <div class="noteDate">
                    {{n.date}}
                </div>
                <div class="noteContent">
                    {{n.value}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showAlert" class="alert alert-primary" role="alert">
        No data to show yet!
    </div>
</div>