<div *ngIf="showChart" class="chartContainer">
    <canvas id="myChart" class="chart"></canvas>
    <div class="chartNavigationButtons">
        <button class="btn btn-primary">-15</button>
        <button class="btn btn-primary">+15</button>
    </div>
    <hr>
    <div class="notesContainer">
        <div *ngFor="let n of notes">
            <div class="noteContent">
                <div class="noteDate">
                    {{n.date}}
                </div>
                {{n.value}}
            </div>
        </div>
    </div>
</div>
<div *ngIf="showAlert" class="alert alert-primary" role="alert">
    No data to show yet!
</div>