<div class="container">
    <div class="row">
        <div *ngIf="factorsList.length===0" class="alert alert-primary" role="alert">
            There are no factors yet. Please add them using the input down below.
        </div>
        <div *ngIf="factorsList.length!==0" class="row">
            <div class="col">
                <form action="" id="addFactorForm">
                    <div *ngFor="let f of factorsList">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" [disabled]="!factorsListEditionMap[f.id!].inEdition" placeholder="New Factor" aria-label="Factor's name"
                                    aria-describedby="addFactorButton" value="{{f.title}}">
                                    <input type="color" class="form-control form-control-color" *ngIf="factorsListEditionMap[f.id!].inEdition" id="factorColor_{{f.id!}}" value="{{f.color!}}">
                                <button class="btn btn-outline-secondary" #save type="button" *ngIf="factorsListEditionMap[f.id!].inEdition" (click)="onClickSave(save)" id="save_{{f.id!}}">Save</button>
                                <button class="btn btn-outline-secondary" #edit type="button" *ngIf="!factorsListEditionMap[f.id!].inEdition" (click)="onClickEdit(edit)" id="edit_{{f.id!}}">Edit</button>
                                <button class="btn btn-outline-secondary" #cancel type="button" *ngIf="factorsListEditionMap[f.id!].inEdition" (click)="onClickCancel(cancel)" id="cancel_{{f.id!}}">Cancel</button>
                                <button class="btn btn-outline-secondary" #remove type="button" *ngIf="!factorsListEditionMap[f.id!].inEdition" id="remove_{{f.id}}" (click)="onClickRemove(remove)" >Remove</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <form action="" id="addFactorForm">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="New Factor" aria-label="Factor's name"
                                aria-describedby="addFactorButton" name="newFactorInput" id="newFactorInput" [(ngModel)]="newFactorTitle">
                            <button class="btn btn-outline-secondary" type="button" (click)="onAddNewFactor()" id="addFactorButton">+</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>